.bgimg {
  background: url("./backimg.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-top: -55px;
  text-align: center;
  padding: 120px 0px 65px 0px;
  margin-bottom: 35px;
}

.bgimg h1 {
  font-size: 2.3rem;

}

.bgimg h2 {
  margin-top: 15px;
  font-size: 50px;
}

.bgimg button {
  margin-top: 20px;
}