<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="use react redux.">
    <meta name="keyword" content="react redux react-router react-redux-router">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.1/css/amazeui.min.css">
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="root"><%= htmlWebpackPlugin.options.htmlContent %></div>
    <script type="text/javascript"><%= htmlWebpackPlugin.options.initialData %></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.1/js/amazeui.min.js"></script>
    <script src="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
    <script src="//cdn.bootcss.com/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="//cdn.bootcss.com/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src="http://7xs544.com1.z0.glb.clouddn.com/js/components1.js"></script>
      
  </body>
</html>